## Functions and Modules in Python (Chapter 6)
### Book : Data Analysis with Python
### Author :  Rituraj Dixit

In [2]:
# Common way to create functions
def divTwoNumbers(a, b=10):
  return a//b

divTwoNumbers(100)

10

In [3]:
# Function with positional variable-length parameter
def nNumberAddition(*args):
  result = 0
  for x in args:
    result+=x
  return result

nNumberAddition(3,2,1)

6

In [8]:
# Function with Keyworld parameter
def selfIntro(**kwargs):
  values = list(kwargs.values())
  text = (f"Hi My name is {values[0]}, Im working in {values[1]} and Im from {values[2]}")
  try:
    text += f" also my hobbie is {values[3]}"
  except:
    return text
  return text

print(selfIntro(Name="Fidel", company="VittaQuant", city="Cusco"))
print(selfIntro(Name="Fidel", company="VittaQuant", city="Cusco", hobbie="coding"))

Hi My name is Fidel, Im working in VittaQuant and Im from Cusco
Hi My name is Fidel, Im working in VittaQuant and Im from Cusco also my hobbie is coding

### Lambda funcions

In [9]:
twoNumberAddition = lambda a,b : a+b
twoNumberAddition(10,20)

30

In [12]:
# using the map() funcion
number_list = [1,11,111,1111]
squared_number_list = list(map(lambda num:num**2, number_list))
squared_number_list

[1, 121, 12321, 1234321]

In [13]:
lista = [10,20,30,40]
divididos = list(map(lambda x : x//2, lista))
divididos

[5, 10, 15, 20]

In [14]:
# using the filter() function
number_list = [1,2,41,3,55,33,4,90]
number_list = list(filter(lambda x : x%2 ==0, number_list))
number_list

[2, 4, 90]

In [15]:
# using the reduce() function
import functools
number_list = [1,34,56,78,91,11,23,44]
sum_of_number_list = functools.reduce(lambda num1, num2: num1+num2, number_list)
print("Sum of the numbers in the list:", sum_of_number_list)

Sum of the numbers in the list: 338